table{
    width: 100%; /*Hace que la tabla ocupe todo el ancho de la pagina */
    margin: 20px 0; /*Margenes de la tabla*/
}
body {
    background-color: rgb(192, 192, 192);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
______________________________________
h1 {
    color: #333;
    text-align: center;
}

img {
    float: right; /* Mueve la imagen a la derecha */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
    border-radius: 10px; /* Bordes redondeados opcional */
}

/* Espacio entre elementos de la lista */
li {
    margin-bottom: 10px;
}
______________________________________

th td{
    padding: 10px; /*Rellano dentro de las celdas*/
    text-align: left;/*Alinea el texto a la izquierda*/
    border: 1px solid black;
}
th{
    background-color: rgb(255, 160, 115); /*Fondo para el ancabezado*/
    color: rgb(83, 73, 73);
}
tr:hover{ 
    background-color: rgb(219, 132, 132); /*Cambia el fondo de las caldas al pasar el mouse*/
}